.container {
  display: flex;
  width: 100%;
  max-width: 100vw; // Limite la largeur au viewport
  overflow: hidden; // Empêche le débordement

  .content {
    flex-grow: 1; // Prend l’espace restant
    min-width: 0;

    .text-section {
      .cover {
        position: relative;
        width: 100%; // Corriger l'utilisation de "quotes"
        height: 0;
        padding-bottom: 50%; // Ajustez ce pourcentage selon le ratio souhaité

        // Ajout d'un pseudo-élément pour le dégradé
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to bottom,
            rgba(var(--surface0rgb), 0.5),
            rgba(var(--surface0rgb), 1)
          );
          z-index: 1; // S'assure que le dégradé est au-dessus de l'image mais en dessous du texte
        }

        // Style de l'image
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; // Remplit le conteneur
        }

        h2 {
          position: absolute; // Position absolue pour superposer sur l'image
          top: 10%; // Ajustez selon vos besoins
          left: 50%;
          transform: translateX(-50%); // Centrer horizontalement
          color: white; // Couleur du texte
          z-index: 2; // Au-dessus du dégradé
          text-align: center; // Centrer le texte
        }
      }

      .texts {
        padding: 1rem;
      }
    }

    figure {
      img {
        width: 80%;
        height: auto;
        justify-self: center;
      }
    }
  }
}
