// styles/globals.scss
@use "./index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1.6;
  color: var(--base0);
  background-color: var(--surface0);
}

a {
  text-decoration: none;
  color: var(--surface40);
}

ul {
  list-style-type: none;
}

main {
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.cta {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  border-radius: 0.25rem;
  color: var(--base0);
  background-color: var(--primary0);

  &:hover {
    background-color: var(--primary0);
  }
}

.carroussel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  flex-basis: 350px;
  width: 350px;
  flex-shrink: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px);
  position: sticky;
  top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.tag {
  color: var(--primary0);
  background-color: rgba(14, 199, 136, 0.1);
  width: fit-content;
  border-radius: 8px;
  padding: 2px 6px;
  font-size: 0.8rem;
}
