// styles/globals.scss
@use "./index.scss" as *;

.theme--dark {
  color: map-get(map-get($themes, "dark"), "base1");
}

.theme--light {
  color: map-get(map-get($themes, "light"), "base1");
}

// Réinitialisation des styles par défaut
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  /* font-size: 10px; */
  height: 100%;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  &.dark {
    color-scheme: dark;
    background-color: map-get(map-get($themes, "dark"), "base2");
  }
  &.light {
    color-scheme: light;
    background-color: map-get(map-get($themes, "light"), "base2");
  }
}

// Styles typographiques
body {
  font-family: "inter", sans-serif;
  line-height: 1.6;
  @include themed {
    color: t("surface40");
    background-color: t("surface0");
  }
}

a {
  text-decoration: none;
  @include themed {
    color: t("surface40");
  }
}

ul {
  list-style-type: none;
}

main {
  margin: 20px 40px;
    justify-content: center;
}

// Styles de mise en page
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.cta {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  border-radius: 0.25rem;
  @include themed {
    color: t("base0");
    background-color: t("primary20");
  }

  &:hover {
    @include themed {
      background-color: t("primary0");
    }
  }
}

.carroussel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  flex-basis: 300px;
  width: 300px;
  flex-shrink: 0; // empêche la réduction de la taille
  padding: 12px;
  @include themed {
    background-color: t("surface10");
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem; // ajuste ici si nécessaire
  width: 100%; // occupe toute la largeur disponible
  max-width: 1200px; // limite la largeur totale de la grille pour éviter des cartes trop étirées
  margin: 0 auto; // centre la grille
}

  .tag {
    @include themed {
      color: t("base30");
      border: 0.5px solid rgba(14, 199, 136, 0.8);
      background-color: rgba(14, 199, 136, 0.2);
    }
    width: fit-content;
    border-radius: 8px;
    padding: 2px 6px;

    p {
      font-size: 0.8rem;
      @include themed {
        color: t("surface10");
      }
    }
  }
