/** Dark theme primary colors */
$color-primary-a0: #c19e99;
$color-primary-a10: #c8a8a4;
$color-primary-a20: #cfb3af;
$color-primary-a30: #d6beba;
$color-primary-a40: #ddc8c5;
$color-primary-a50: #e4d3d0;

/** Dark theme surface colors */
$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;

/** Dark theme mixed surface colors */
$color-surface-mixed-a0: #211e1e;
$color-surface-mixed-a10: #363333;
$color-surface-mixed-a20: #4c4949;
$color-surface-mixed-a30: #636060;
$color-surface-mixed-a40: #7b7979;
$color-surface-mixed-a50: #949292;


