/** Dark theme primary colors */
$color-primary-a0: #2818d1;
$color-primary-a10: #5234d7;
$color-primary-a20: #6f4ddd;
$color-primary-a30: #8765e3;
$color-primary-a40: #9d7ee8;
$color-primary-a50: #b297ed;

/** Dark theme surface colors */
$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;



