@use "../styles/index" as *;

.card {
  font-family: 'Roboto', sans-serif;
  background-color: var(--surface0);
  color: var(--base20);
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  .card__image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Maintient un ratio 16:9 */
    background-color: var(--surface20);
    overflow: hidden;

    .card__info {
      .card__tag {
        position: absolute;
        top: 6px;
        left: 6px;
        background-color: var(--primary0);
        color: var(--primary50);
        padding: 2px 6px;
        border-radius: 12px;
      }

      .card__date {
        position: absolute;
        color: var(--base30);
        bottom: 6px;
        right: 6px;
        color: var(--base50);
        background-color: var(--surface10);
        padding: 0 6px;
      }
    }
  }

  .card__title {
    padding: 12px;
    height: 66px;
    max-width: 90%;

    h5 {
      color: var(--base10);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card__actions {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 12px 12px 12px;

    .card__icons {
      display: flex;
      font-size: 1.2rem;
      gap: 8px;
      svg {
        color: var(--base40);
        transition: color 0.2s, transform 0.2s;

        &:hover {
          color: var(--primary);
          transform: scale(1.2);
        }
      }
    }

    .card__rating {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      color: var(--primary50);
      border: 1.5px solid var(--primary10);
      padding: 2px 8px;
    }
  }
}
