@use "../styles/index" as *;

.card {
  background-color: var(--surface0);
  color: var(--base20);
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  .card__icons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 0 12px 12px 0;
    svg {
      width: 20px;
      height: 20px;
      color: var(--base40);
      transition: color 0.2s, transform 0.2s;

      &:hover {
        color: var(--primary);
        transform: scale(1.2);
      }
    }
  }

  .card__image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Maintient un ratio 16:9 */
    background-color: var(--surface20);
    overflow: hidden;

    .card__info {
      .card__tag {
        position: absolute;
        top: 6px;
        left: 6px;
        color: var(--base50);
        background-color: var(--base0);
        padding: 2px 6px;
        border-radius: 12px;
      }

      small {
        position: absolute;
        font-size: 0.8rem;
        color: var(--base30);
        bottom: 6px;
        right: 6px;
        color: var(--base50);
        background-color: var(--primary0);
        padding: 0 6px;
      }
    }
  }

  .card__title {
    padding: 12px;
    max-width: 300px;

    h5 {
      line-height: 1.6;
      font-size: 15px;
      color: var(--base10);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
