.event-localisation {
  min-width: 300px;
  .event-localisation__infos {
    margin-right: 2rem;
    .event-localisation__section {
      border-top: 1px solid var(--base0);
      padding-top: 0.5rem;
      margin-top: 1rem;
    }
    p {
      font-size: smaller;
    }
    .event-localisation__user-actions {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      button {
        cursor: pointer;
      }
    }
  }
}

// .event-localisation__section {
//   border-top: 1px solid var(--base0);
// }
