.event {
  .cover {
    position: relative; /* Nécessaire pour positionner l'image et le contenu en absolu */
    aspect-ratio: 16/9;

    .cover_image {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }

      /* Overlay dégradé */
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2) 20%,
          /* Transparent en haut */ rgba(0, 0, 0, 0.6) 40%,
          /* Dégradé progressif */ rgba(0, 0, 0, 0.9) 100%
            /* Plus sombre en bas */
        );
        z-index: 1;
      }

      .cover_infos {
        position: absolute;
        z-index: 2; /* Par-dessus l'overlay */
        top: 30%;
        left: 2.5rem;
        z-index: 2; /* Par-dessus l'overlay */
        max-width: 800px;
        .cover_tags {
          display: flex;
          gap: 0.5rem;
          margin-bottom: 1rem;
          z-index: 2; /* Par-dessus l'overlay */
        }

        .cover_title {
          h1 {
            color: white;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          }
        }
      }

      .cover_scrolldown {
        position: absolute;
        font-size: 3rem;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2; /* Par-dessus l'overlay */
        color: white;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: translateX(-50%) scale(1.1);
        }
      }

      small {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        z-index: 2; /* Par-dessus l'overlay */
        color: white;
      }
    }

    .title {
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      text-align: center;
      line-height: 1.2;
      background-color: var(--surface0);
      padding: 1rem 1.5rem;

      .avg-rating {
        width: fit-content;
        border: 1px solid var(--base0);
        justify-self: center;
        margin-top: 0.8rem;

        p {
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }
}
