@use "../../styles/breaks.scss";
.event-content {


  .event-content__actions {
    background-color: var(--base0);
  }

  .event-content__texts {
    padding: 1rem;
  }
}

@media (min-width: breaks.$break-medium) {
  .event-content {
    display: flex;
    margin: 60px;
  }
}
