@use "../../styles/breaks.scss";

.events {
  .events__banner {
    color: var(--white);
    text-align: right;
    margin: 1rem;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    p {
      font-size: 1rem;
    }
  }

  .events__content {
    .events__filters {
      height: fit-content;
      padding: 24px;
      background-color: var(--surface0);
      border-radius: 5px;
      .events__filters__title {
        margin-bottom: 10px;
      }

      .events__filter {
        margin-bottom: 10px;
        h5 {
          font-weight: bold;
          margin-bottom: 2px;
          color: var(----base0);
        }

        .events__tags {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          li {
            border-radius: 5px;
            border: 1px solid var(--primary50);
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s;

            button {
              background: none;
              border: none;
              color: inherit;
              font: inherit;
              cursor: pointer;
              outline: inherit;
            }
            &:hover {
              background-color: var(--primary50);
            }

            &.active {
              background-color: var(--primary50);
            }
          }
        }
      }
    }
  }

  .events__list {
  }
}

@media (min-width: breaks.$break-medium) {
  .events {
    .events__content {
      display: flex;
      .events__filters {
        width: 300px;
        position: sticky;
        top: 20px;
      }

      .events__list {
        flex: 1;
      }

      .events__map {
        flex: 1;
        margin: 0 1rem;

        .tooltip {
          pointer-events: auto !important; /* Assure l'interaction avec le popup */
          width: 250px; /* Largeur fixe */
          background-color: var(--surface0);
          color: var(--white);
          border-radius: 8px;
          padding: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          text-align: center;
          overflow: hidden;

          .tooltip-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              margin: 5px 0;
              word-wrap: break-word;
            }

            .tooltip-dates,
            .tooltip-address {
              margin: 2px 0;
            }

            .tooltip-cover img {
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
