.login-dropdown-avatar {
  position: relative;

  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--base10);
      }
    }

    &.opened {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
