.rater {
  display: flex;
  justify-content: space-around;
  padding: 0.2rem 0;

  label {
    cursor: pointer;

    input {
      display: none;

      svg {
        height: 30px;
        width: 30px;
      }
    }
  }

  label:not(:first-of-type) {
    margin-left: 0.2rem;
  }
}
